*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Agrandir, Verdana, Geneva, sans-serif;  
    background-color: rgba(29, 29, 29, 0.889);
    color: white
}
a{
  text-decoration: none;
}
.head{
  background-color: transparent;
 
 
}
.wrapper{
    height:100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
}
.container{
   border-radius: 20px;
    height:auto;
    background-color: transparent;
    max-width: 1250px;
    margin: 0 auto;
    /*margin-left:300px ;*/
    padding: 10px;   
    box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);
}
.user{
  margin-right: 2%;
  margin-top: 1%;
}
.user-icon{
  height: 35px;
  border-radius: 50px;
  margin-right: 5%;
}

.recipes{
    display: flex;
    flex-wrap:wrap;
    row-gap: 60px;
   column-gap: 60px;
    margin-top: -2%;
    margin-bottom: 2%;
    margin-left: 5%;   
}
.card {
    width: 28%;
    background-color: transparent;
    overflow: hidden;
    position: absolute;
    border-radius: 10px;
    position: relative;
    border: #333;
    max-height: 300px;
    box-shadow: 0 0 20px #262525;
  }
  .card img {
    height: 80%;
    width: 100%;
    object-fit: cover;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    box-shadow: 0 0 20px #605e5e;
  }
  .card h2{
   margin-left: 4%;
   color:#dc0727f5;
  }
  .card:hover{
    transform: scale(1.03);
    transition: 0.3s;
    box-shadow:  0 0 20px #333;;
  }
  .card:hover figcaption{
    opacity: 1;
    bottom: 0;   
  }
  .card span{
    font-size: small;
    font-weight: lighter;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: grey;
  }
  .container p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 50px;
    margin-bottom: 100px;
    margin-top: 30px;
  }
  .navigation{
    margin-top: 1%;
    background-color: rgba(29, 29, 29, 0.889);
    display:flex;
    color:white;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 50px;   
    margin-bottom: 2%;
}
.nav-items{
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    gap:30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.flex-item{
  background-color: transparent;
   font-weight: lighter;
    transition-duration: 0.2s;
    font-size: 23px;
}
.icon{
  height:50px;
  width:50px;
  position:relative;
  left:30px;
  background-color: transparent;
}
.flex-item:hover{
    color:#dc0727f5;
    cursor:pointer;
    text-shadow: 2px 2px 5px  rgba(0, 0, 0, 0.422);
}