{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'suisstyle.css'%}">
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <p>Cuisines to choose from</p>
            <div class="recipes">
                {% for obj in cuisses %}
                <a href="{% url 'item' val=obj.cuisine %}" class="card">

                    <img src="{{obj.bg}}" alt="">
                    <h2>{{obj.cuisine}}</h2>
                    <span> {{obj.description}}</span><br>
                </a>
                {% endfor %}

            </div>
        </div>
    </div>

</body>

</html>