{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'suisstyle.css'%}">
</head>

<body>
    <div class="wrapper">
        <section>
            <div class="navigation">
                <img src="{% static 'icon.png'%}" alt="" class="icon">
                <div class="nav-items">
                    <div class="flex-item">Home</div>
                    <div class="flex-item">Menu</div>
                    <div class="flex-item">About Us</div>
                </div>   
            </div>
        </section>
        
        <div class="container">
            <p class="head">Cuisines To Choose From</p>
            <div class="recipes">
                {% for obj in cuisses %}
                <a href="{% url 'item' val=obj.cuisine %}" class="card">
                    <img src="{{obj.bg}}" alt="">
                    <h2>{{obj.cuisine}}</h2>
                    <span> {{obj.description}}</span><br>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>

</body>

</html>