{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="{%static 'menues.css'%}">
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
</head>

<body>
    <div class="wrapper">
        <section>
            <div class="navigation">
                <img src="{% static 'icon.png'%}" alt="" class="icon">
                <div class="nav-items">
                    <div class="flex-item">Home</div>
                    <div class="flex-item">Menu</div>
                    <div class="flex-item">About Us</div>
                </div>  
                <a href="#" class="user">
                    <img src="{% static 'userIcon.jpeg'%}" alt="" class="user-icon"> 
                </a>
            </div>
        </section>
        <div class="container">
            <p>{{cuis}} Dishes</p>
            <form>
                <i class="fa fa-search" aria-hidden="true"></i>
                <input type="text" id="search-item" placeholder="Search Product" onkeyup="search()">

            </form>
            <div class="recipes" id="menu-items">
                {% for Dish in dishe %}
                <a href="{%url 'recipe' val1=cuis val2=Dish.Name%}" class="card">
                    <img src="{{Dish.bg}}" alt="">
                    <h2>{{Dish.Name}}</h2>
                    <!-- <span> A combination of chana masala and bhatura.</span><br> -->
                </a>
                {% endfor %}

            </div>
        </div>

    </div>
    <script src="new.js"></script>
</body>

</html>