{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'style.css'%}">
    <title>Food Ingedient delivery</title>
</head>

<body>
    <!--wrapper-->
    <div class="wrapper">
        <section>
            <nav class="navigation">
                <img src="{% static 'icon.png'%}" alt="" class="icon">
                <div class="nav-items">
                    <div class="flex-item">Home</div>
                    <div class="flex-item">Menu</div>
                    <div class="flex-item">About Us</div>
                </div>
                <a class="contact-btn" href="{%url 'auth'%} ">Log In</a>
            </nav>
        </section>
        <div class="container">
            
            <!--Hero section-->
            <section class="hero">
                <div class="hero-content">
                    <p class="hero-head">
                        It's not just 
                        <span style="color:#FEC868">Food,</span>
                        <br>
                        It's an
                         <span style="color: #FEC868;">Experience.</span><br>
                    </p>
                    <p class="hero-desc"> We are providing fresh and delicious meal-kits in few minutes at your doorsteps.</p>
                    <a class="order-btn" href="{% url 'cuisine' val='false' %}">View Menu</a>
                </div>
            </section>
        </div>
    </div>
</body>

</html>